@model LunchIncentro.Models.PayChoiceModel


<div class="col-xs-4">
    <h3>@Model.PayChoiceText</h3>
    <br/>
    <span>Huidige saldo: @Model.Balance.Balance</span>
    <span>@Html.TextBoxFor(i => i.Adjustment, new { @type = "number" })</span>


</div>
